<div class="vertical grid-block">
  <div class="grid-block align-center principal">
    <img src="assets/img/v2/Contacto1.jpg" alt="" />
  </div>
</div>

<div class="row">
  <div class="large-12 columns home">
    <p align="center" class="title">
      Escríbenos
    </p>
  </div>
</div>
<div class="row home">
  <div class="small-12 columns">
    <div class="large-12 columns">
      <form data-abide action="php/mail.php" method="post" accept-charset="utf-8">
        <div class="row">
          <div class="medium-12 columns">
            <label>Nombre
              <input type="text" placeholder="Juan Colorado">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <label>Correo Electronico
              <input type="email" placeholder="email@mail.com">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <label>Asunto
              <input type="text" placeholder="Asunto">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <label>Mensaje
              <textarea name="name" rows="8" cols="40" placeholder="algun comentario..."></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <input class="expanded warning button " type="submit" value="Enviar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
