@mixin content-1 {
  .posts{
    .article-title{
      .lead{
        font-family: "Roboto",sans-serif;
        font-size: 1.8em;
        padding: 0 0.7em 0.7em 0.7em;
        color: #2F2F2F;
      }
    }
    .article-content{
      .subheader{
        font-family: "Roboto",sans-serif;
        font-size: 1em;
      }
    }

    .article-detail{
      padding-bottom: 1em;
      span{
        display: block;
        font-size: 1.1em;
        color: #9E9E9E;
        background: none;
      }
    }
    .article-img{
      position: relative;
      padding-top: -1em;
      padding: 0 0 1.5em 6.5em;
      img{
        width: 120px;
        height: 120px;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      }
    }
  }
}

@mixin content-2 {
    .posts{
      .callout{
        .button-read{
          position: relative;
          bottom: -20px;
        }
        .article-title{
          .lead{
            font-family: "Roboto",sans-serif;
            font-size: 1.8em;
            padding: 0 0.7em;
            color: #2F2F2F;
          }
        }
        .article-content{
          .subheader{
            font-family: "Roboto",sans-serif;
            font-size: 1em;
          }
        }

        .article-detail{
          span{
            display: inline;
            font-size: 1em;
            color: #9E9E9E;
            background: none;
          }
        }
      }
    }
}
