<section class="benefits posts">
  <div class="row align-center">
    <div class="large-6 large-centered columns">
      <h1>Articles</h1>
    </div>
  </div>
  <div class="row small-up-1 medium-up-2 large-up-3"  data-equalizer data-equalize-by-row="true">
    <div class="columns benefit" *ngFor="#post of getPosts |async">
      <div class="callout" data-equalizer-watch="" style="height: 410px;">
        <div class="article-title">
          <p class="lead">
            {{post.title}}
          </p>
        </div>
        <div class="article-content">
          <p class="subheader">
            {{post.content.substr(0,160)}} ...
          </p>
        </div>
        <div class="article-detail">
          <span class="label"><i class="mdi mdi-calendar"></i> 3/6/2015</span>
          <span class="label"><i class="mdi mdi-account"></i> Cristian Ramirez</span>
        </div>
        <div class="button-read">
          <a class="button hollow expanded" (click)="openPost(post._id)">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row column">
    <a class="button expanded">Load More</a>
  </div>
</section>
