<div class="asociados">
  <div class="expanded row">
    <div class="presentacion">
      <img src="../app/img/v2/asociados1.jpg" alt="Owl Image">
    </div>
  </div>
  <br>

  <div class="row">
    <div class="large-6 large-centered columns">
      <p><a data-open="exampleModal1">Click me for a modal</a></p>
      <label>Seleccionar Asociado
        <asociado-select (select)="status = $event"></asociado-select>
      </label>
    </div>
  </div>

  <div class="expanded row asoc1">
    <asociado-list [status]="status"></asociado-list>
  </div>
</div>
