<div class="asociados">
  <div class="expanded row">
    <div class="presentacion">
      <img src="../app/img/v2/asociados1.jpg" alt="Owl Image">
    </div>
  </div>
  <br>

  <div class="row">
    <div class="large-6 large-centered columns selector">
      <label><span>Seleccionar Asociado</span>
        <br><br>
        <div class="row">
          <div class="small-3 small-centered columns" style="border-bottom: 3px solid #CC9029;"></div>
        </div>
        <br>
        <asociado-select (select)="status = $event"></asociado-select>
      </label>
    </div>
  </div>

  <div class="expanded row asoc1">
    <asociado-list [status]="status"></asociado-list>
  </div>
</div>
