<div class="header">
  <div class="expanded row small-up-1 medium-up-2" data-equalizer data-equalize-by-row="true">
    <div class="column">
      <div class="callout" data-equalizer-watch="" style="">
        <div class="img">
          <img src="../app/img/v2/logo.png" alt="" />
        </div>
      </div>
    </div>
    <div class="column show-for-medium">
      <div class="callout" data-equalizer-watch="" style="">
        <ul class="menu">
          <li>
            <a [routerLink]="['/Home']" >
             Home
            </a>
          </li>
          <li>
            <a [routerLink]="['/Asociados']" >
              Asociados
            </a>
          </li>
          <li>
            <a [routerLink]="['/Nosotros']" >
              Nosotros
            </a>
          </li>
          <li>
            <a [routerLink]="['/Contacto']" >
               Contacto
            </a>
          </li>
        </ul>
    </div>
  </div>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
</div>
