<div class="vertical grid-block nosotros">

  <div class="grid-block vertical medium-horizontal">
    <div class="grid-block medium-6 columns">
      <img src="assets/img/v2/6.jpg" alt="asociado 1" />
    </div>
    <div class="grid-block vertical medium-6 columns">
      <p class="title">
           Bienvenida
        </p>
        <p class="description">
          Te damos la más cordial bienvenida a la página oficial de Cerveceros Artesanales de Michoacán A.C. (Cerarmich). En esta página encontrarás toda la información que necesitas para integrarte a nuestra comunidad y gozar de los beneficios de pertenecer a la misma.
          ¿Qué esperas? Has contacto y forma parte de nuestra asociación.
        </p>
    </div>
  </div>

  <div class="grid-block vertical medium-horizontal">
    <div class="grid-block medium-6 columns">
      <img src="assets/img/v2/8.jpg" alt="asociado 1" />
    </div>
    <div class="grid-block vertical medium-6 columns">
      <p class="title">
        Misión
      </p>
      <p class="description">
        Promover el crecimiento de la cultura en torno a la cerveza artesanal mediante su producción y  consumo responsable. Además del desarrollo y crecimiento constante de los productores de insumos, bienes y servicios relacionados a las actividades de la cerveza artesanal.
      </p>
    </div>
  </div>

  <div class="grid-block vertical medium-horizontal align-center">
    <div class="grid-block vertical medium-6 columns">
      <p class="title">
        Visión
      </p>
      <p class="description">
        Ser una asociación con presencia a nivel nacional en la producción de cerveza artesanal e insumos para su elaboración de calidad, promoviendo la unión y apoyo de todos los cerveceros michoacanos, que fomenten la cultura de consumo responsable y aporte al crecimiento económico y turístico del estado de Michoacán.
      </p>
    </div>
  </div>

  <div class="grid-block vertical medium-horizontal">
    <div class="grid-block medium-6 columns">
      <img src="assets/img/v2/7.jpg" alt="asociado 1" />
    </div>
    <div class="grid-block vertical medium-6 columns">
      <p class="title">
         Beneficios
      </p>
      <p class="descriptions">
    		- Credencial oficial <br/>
    		- Representación comercial<br/>
    		- Representación ante organismos gubernamentales<br/>
    		- Acceso a eventos con precios preferenciales<br/>
    		- Acceso a red de contactos comerciales<br/>
    		- Capacitación continua
      </p>
    </div>
  </div>

</div>
